* {
  transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-out;
}

html, body, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important;
  -webkit-transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important;
  color: white;
  background-color: white;
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: row;
  font-weight: 300px;
  font-size: 16px;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

.page {
  height: auto;
  overflow-y: auto;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div {
  display: flex;
}

p {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  margin-bottom: 0px;
}

a {
  text-decoration: none !important;
  color: #337ab7;
  margin: 5px;
  padding: 5px;
}

a:hover {
  color: #fadb76;
}

.a-selected {
  color: white !important;
}

h4 {
  display: flex;
  margin: 0px;
  letter-spacing: 1px;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#color-1 {
  background-color: #7ab6e7;
}

#color-2 {
  background-color: #89abe3;
}

#color-3 {
  background-color: #f3ad74;
}

.nav-bar {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 120px;
}
.nav-bar div {
  margin-left: 10px;
}

#nav-2 {
  background-color: #89abe3;
}
#nav-2 a {
  color: #567add;
}
#nav-2 a:hover {
  color: #fadb76;
}

#nav-3 {
  background-color: #f3ad74;
}
#nav-3 a {
  color: #da7b2d;
}
#nav-3 a:hover {
  color: #fadb76;
}

.credit {
  margin: 5px;
  font-size: 10px;
}

#p1 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7ab6e7;
}
#p1 .name-title {
  margin-bottom: 30px;
  font-size: 60px;
  text-transform: uppercase;
}
#p1 .center-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 550px;
  margin-left: -10%;
}
#p1 .quote-author {
  align-self: flex-end;
}

#p2 {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 14% 80px 50px 5%;
  background-color: #89abe3;
}
#p2 .about-container {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#p2 .left-text {
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 50px;
  max-width: 900px;
}
#p2 .left-text p {
  text-indent: 0px;
}
#p2 img {
  height: 320px;
  width: 320px;
}
#p2 .credit {
  position: fixed;
  bottom: 0px;
  right: 5px;
}

#p3 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 50px 50px 100px;
  background-color: #f3ad74;
}
#p3 .main-text {
  flex-direction: column;
  max-width: 900px;
  margin-top: 50px;
  margin-bottom: 50px;
}
#p3 a {
  color: white;
  margin-left: 2px !important;
  padding: 0px !important;
}
#p3 a:hover {
  color: #fadb76;
}
#p3 .photo-gallery {
  width: 80%;
  margin-left: -10%;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  /* Add a pointer when hovering over the thumbnail images */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Number text (1/3 etc) */
  /* Container for image text */
  /* Container for thumbnail images */
  /* Six columns side by side */
  /* Add a transparency effect for thumnbail images */
}
#p3 .photo-gallery .mySlides {
  display: none;
  text-align: center;
  background-color: #f3ad74;
  width: 100%;
  height: 500px;
  padding-bottom: 20px;
}
#p3 .photo-gallery .mySlides img {
  height: 100%;
  width: auto;
  max-width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#p3 .photo-gallery .cursor {
  cursor: pointer;
}
#p3 .photo-gallery .prev, #p3 .photo-gallery .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 10px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
  -webkit-user-select: none;
}
#p3 .photo-gallery .next {
  right: 0;
}
#p3 .photo-gallery .prev:hover, #p3 .photo-gallery .next:hover {
  background-color: #da7b2d;
}
#p3 .photo-gallery #numbertext {
  color: white;
  font-size: 12px;
  margin-right: 15px;
  width: 50px;
}
#p3 .photo-gallery .caption-container {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #dba274;
  padding: 10px 15px;
  color: white;
}
#p3 .photo-gallery .caption-container #caption {
  margin: 0px;
  flex-direction: column;
}
#p3 .photo-gallery .caption-container #caption p {
  margin: 0px;
  margin-bottom: 5px;
}
#p3 .photo-gallery .row {
  width: 100%;
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  justify-content: center;
  background-color: #f3ad74;
}
#p3 .photo-gallery .row:after {
  content: "";
  display: table;
  clear: both;
}
#p3 .photo-gallery .column {
  float: left;
  padding: 0px 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#p3 .photo-gallery .column img {
  height: 100%;
  width: auto;
}
#p3 .photo-gallery .demo {
  opacity: 0.6;
}
#p3 .photo-gallery .active, #p3 .photo-gallery .demo:hover {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
