* {
  transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-out;
}

html, body, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important;
  -webkit-transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important;
  color: white;
  background-color: #7ab6e7;
  overflow: hidden;
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: row;
  font-weight: 300px;
}

.page {
  overflow: scroll;
}

div {
  display: flex;
}

p {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
}

a {
  text-decoration: none !important;
  color: #337ab7;
}

h4 {
  display: flex;
  margin: 0px;
  letter-spacing: 1px;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.nav-bar {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 120px;
}
.nav-bar div {
  margin-left: 10px;
}
.nav-bar a {
  margin: 5px;
  padding: 5px;
}
.nav-bar a :hover {
  color: grey;
}

.credit {
  margin: 5px;
  font-size: 10px;
}

#p1 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#p1 .name-title {
  margin-bottom: 30px;
  font-size: 60px;
  text-transform: uppercase;
}
#p1 .center-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 550px;
  margin-left: -50px;
}
#p1 .quote-author {
  align-self: flex-end;
}

#p2 {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 50px 50px 100px;
}
#p2 .left-text {
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 50px;
}
#p2 .left-text p {
  text-indent: 40px;
}
#p2 img {
  height: 413px;
  width: 300px;
}
#p2 .credit {
  position: fixed;
  bottom: 0px;
  left: 45%;
}

#p3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 50px 50px 100px;
}
#p3 .main-text {
  flex-direction: column;
  max-width: 900px;
}

@media (max-width: 920px) {
  #p2 img {
    width: 200px;
    height: 275px;
  }
}
@media (max-width: 820px) {
  body {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav-bar {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
  }
  .nav-bar div {
    margin-left: 0px;
  }
  .nav-bar a {
    margin: 5px;
    padding: 5px;
  }
  .nav-bar a :hover {
    color: grey;
  }

  #p1 .center-box {
    margin-top: -50px;
    margin-left: 0px;
  }

  #p2 .left-text {
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    margin-right: 50px;
  }
  #p2 .left-text p {
    text-indent: 40px;
  }

  #p3 {
    padding: 0px 50px 50px 10px;
  }
  #p3 .main-text {
    width: 80%;
  }
}
@media (max-width: 750px) {
  #p1 .center-box {
    width: 250px;
  }
  #p1 .name-title {
    font-size: 36px;
  }
  #p1 .quote-author {
    align-self: center;
  }

  #p2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 50px 50px 30px;
  }
  #p2 h4 {
    font-size: 30px;
  }
  #p2 .left-text {
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    margin-right: 50px;
  }
  #p2 .left-text p {
    text-indent: 40px;
  }
  #p2 .right-image {
    margin-top: 20px;
    margin-left: -30px;
  }
  #p2 .credit {
    position: static;
    margin-top: 20px;
    margin-bottom: -20px;
  }
}

/*# sourceMappingURL=style.css.map */
