// style.scss
@import './variables.scss';

// basic

* {
	transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
}

html, body, .page {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
	-webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
	color: $body;
	background-color: white;
	font-family: 'Overpass', sans-serif;
	display: flex;
	flex-direction: row;
	font-weight: 300px;
	font-size: 16px;
}

html {
	overflow-x: hidden;
	overflow-y: hidden;
}

.page {
	height: auto;
	overflow-y: auto;

	// transition animation
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

div {
	display: flex;
}

p {
	font-family: 'Overpass', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 23px;
	margin-bottom: 0px;
}

a {
	text-decoration: none !important;
	color: $link;
	margin: 5px;
	padding: 5px;
}

a:hover {
	color: $link-hover;
}

.a-selected {
	color: $link-selected !important;
}

h4 {
	display: flex;
	margin: 0px;
	letter-spacing: 1px;
	font-size: 36px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

// background colors

#color-1 {
	background-color: $background-1;
}

#color-2 {
	background-color: $background-2;
}

#color-3 {
	background-color: $background-3;
}

// nav bar

.nav-bar {
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
	width: 120px;

	div {
		margin-left: 10px;
	}
}

#nav-2 {
	background-color: $background-2;

	a {
		color: $link-2;
	}

	a:hover {
		color: $link-hover-2;
	}
}

#nav-3 {
	background-color: $background-3;

	a {
		color: $link-3;
	}

	a:hover {
		color: $link-hover-3;
	}
}

// footer

.credit {
	margin: 5px;
	font-size: 10px;
}

// home page

#p1 {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $background-1;
	
	.name-title {
		margin-bottom: 30px;
		font-size: 60px;
		text-transform: uppercase;
	}
	
	.center-box {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 550px;
		margin-left: -10%;
	}

	.quote-author {
		align-self: flex-end;
	}
}

// about page

#p2 {
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 12% 80px 50px 5%;
	background-color: $background-2;
	
	.about-container {
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}

	.left-text {
		flex-direction: column;
		justify-content: flex-start;
		margin-right: 50px;
		max-width: 900px;
		p {
			text-indent: 0px;
		}
	}
	
	img {
		height: 413px;
		width: 300px;
	}

	.credit {
		position: fixed;
		bottom: 0px;
		right: 5px;
	}
}

// resources page

#p3 {
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0px 50px 50px 100px;
	background-color: $background-3;

	.main-text {
		flex-direction: column;
		max-width: 900px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	
	a {
		color: $link-3a;
		margin-left: 2px !important;
		padding: 0px !important;
	}

	a:hover {
		color: $link-hover-3; 
	}

	.photo-gallery {
		width: 80%;
		margin-left: -10%;
		flex-direction: column;
		box-sizing: border-box;
		position: relative;
		
		.mySlides {
			display: none; // hide the images by default
			text-align: center;
			background-color: $slide-background;
			width: 100%;
			height: 500px;
			padding-bottom: 20px;

			img {
				height: 100%;
				width: auto;
				max-width: 95%;
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
		
		/* Add a pointer when hovering over the thumbnail images */
		.cursor {
			cursor: pointer;
		}
		
		/* Next & previous buttons */
		.prev, .next {
			cursor: pointer;
			position: absolute;
			top: 40%;
			width: auto;
			padding: 10px;
			margin-top: -50px;
			color: $arrow;
			font-weight: bold;
			font-size: 20px;
			border-radius: 3px 3px 3px 3px;
			user-select: none;
			-webkit-user-select: none;
		}
		
		/* Position the "next button" to the right */
		.next {
			right: 0;
		}
		
		/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
			background-color: $arrow-hover;
		}
		
		/* Number text (1/3 etc) */
		#numbertext {
			color: $caption-font;
			font-size: 12px;
			margin-right: 15px;
			width: 50px;
		}
		
		/* Container for image text */
		.caption-container {
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			background-color: $caption-background;
			padding: 10px 15px;
			color: $caption-font;

			#caption {
				margin: 0px;
				flex-direction: column;
				
				p {
					margin: 0px;
					margin-bottom: 5px;
				}
			}
		}
		
		/* Container for thumbnail images */
		.row {
			width: 100%;
			display: flex;
			margin-top: 10px;
			flex-direction: row;
			justify-content: center;
			background-color: $thumbnail-background;
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}
		
		/* Six columns side by side */
		.column {
			float: left;
			padding: 0px 10px;
			height: 50px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			
			img {
				height: 100%;
				width: auto;
			}
		}
		
		/* Add a transparency effect for thumnbail images */
		.demo {
			opacity: 0.6;
		}
		
		.active, .demo:hover {
			opacity: 1;
		}
	}
}
