// Standard styling variables used throughout the app

$body: white; // font color
$link-selected: white; // color of nav bar link for current page

// page 1
$background-1: #7ab6e7; // background color
$link: #337ab7; // nav bar link color
$link-hover: #fadb76; // nav bar link hover color

// page 2
$background-2: #89abe3;
$link-2: #567add;
$link-hover-2: #fadb76;

// page 3
$background-3: #f3ad74;
$link-3: #da7b2d;
$link-hover-3: #fadb76;

// page 3 photo gallery
$slide-background: #f3ad74;
$arrow: white;
$arrow-hover:  #da7b2d;
$caption-background: #dba274;
$caption-font: white;
$thumbnail-background: #f3ad74;

// page 4
$background-4: #f3ad74;
$link-4: #da7b2d;
$link-hover-4: #fadb76;

// page 4 form
$input-font: #b8a07e;
$input-background: rgb(245, 243, 240);
$input-border: #b8a07e;
$input-selected-font: #fff;
$input-selected-background: #b8a07e;
$submit-font: #fff;
$submit-background: #da7b2d;
$submit-hover-font: #b8a07e;
$submit-hover-background: #fadb76;