// Standard styling variables used throughout the app

$body: white;

$background-1: #7ab6e7;
$link: #337ab7;
$link-hover: #fadb76;

$background-2: #89ABe3;
$link-2: #3b7222;
$link-hover-2: #fadb76;

$background-3: #faba85;
$link-3: #3b7222;
$link-hover-3: #fadb76;