// Standard styling variables used throughout the app

$body: white; // font color
$link-selected: white; // color of nav bar link for current page

// page 1
$background-1: #FAE2CC; // background color
$link: #7C2828; // nav bar link color
$link-hover: #fadb76; // nav bar link hover color

// page 2
$background-2: #BBE7DF;
$link-2: #7C2828;
$link-hover-2: #fadb76;

// page 3
$background-3: #D9D5F2;
$link-3: #7C2828;
$link-hover-3: #fadb76;
$link-3a: white;

// page 3 photo gallery
$slide-background: #D9D5F2;
$arrow: white;
$arrow-hover:  #da7b2d;
$caption-background: #dba274;
$caption-font: white;
$thumbnail-background: #f3ad74;

// page 4
$background-4: #E9EDD1;
$link-4: #7C2828;
$link-hover-4: #fadb76;

// page 4 form
$input-font: #000000;
$input-background: white;
$input-border: #469256;
$input-selected-font: #fff;
$input-selected-background: #469256;
$submit-font: #fff;
$submit-background: #469256;
$submit-hover-font: #b8a07e;
$submit-hover-background: #fadb76;